include inc/head.pug

// Mixins
mixin parseIndex(obj)
  ul
    each val in obj 
      li.list-group-item 
        i.bi.bi-archive-fill
        =val.name
        a(href="/add?parent=" + val.uuid)= "Add Item"
      if val.children.length > 0
        +parseIndex(val.children)


body 
  include inc/nav.pug
  .container
    +parseIndex(index)

    button.btn.btn-primary(
        data-bs-toggle="collapse" data-bs-target="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
    ) Button 
    .collapse#collapseExample
      .card.card-body Some text