doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title simpleDewey 

    mixin parseIndex(obj)
      ul
        each val in obj 
          li= val.name
          if val.children.length > 0
            +parseIndex(val.children)
    
    //mixin parseItems(item)
      ul
        each val in item 
          li= val.name
          if val.children.length > 0
            +paresIndex(val.children)

  +parseIndex(index)