include inc/head.pug

// Mixins
mixin parseIndex(obj)
  ul
    each val in obj 
      li.list-group-item 
        i.bi.bi-archive-fill
        = " " + val.path + " - " + val.name
        a(href="/add?parent=" + val.uuid) Add Item 
        | --  
        a(href="/add?parent=" + val.uuid) Delete Item
      if val.children.length > 0
        +parseIndex(val.children)





body 
  include inc/nav.pug
  if index.length > 0
    .container
      +parseIndex(index)
  else
    a(href="/add?parent=root") Add Item
