doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title simpleDewey 
  body
    h1="Add Item"

    form(method="post" action="/add")
      label(for="parent") Parent:
        input(type="text" name="parent")
      label(for="id") Id:
        input(type="text" name="id")
      label(for="name") Name:
        input(type="text" name="name")
      label(for="desc") Description:
        input(type="text" name="desc")
      input(type="submit" value="Add")


  body
    ul
      each val in index 
        li= val.name
        if val.children.length > 0 
          ul 
            each child in val.children 
              li= child.name