include inc/head.pug

body
  include inc/nav.pug
  .container.mt-5
    h1.mb-5="Add Item"

    form(method="post" action="/add")
      .mb-3
        label.form-label(for="parent") Parent:
        input.form-control(type="text" name="parent" value=(parent || ""))
      .mb-3
        label.form-label(for="id") Id:
        input.form-control(type="text" name="id")
      .mb-3
        label.form-label(for="name") Name:
        input.form-control(type="text" name="name")
      .mb-3
        label.form-label(for="desc") Description:
        input.form-control(type="text" name="desc")
      input(type="submit" value="Add")